/*
    Please don't look at !important/ids for styling,
    I don't tend to use them, but I'm kind of obligated
*/

body {
    border-top: 0 !important;
}

.sticky-wrapper {
    background-image: none !important;
}

.content-wrapper {
    position: relative;
}

.listing_propertycacheable {
    margin-bottom: 10px;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
}

.listing_propertycacheable > #menu {
    float: none !important;
}

.site-title {
    padding-top: 8px !important;
}

#menu > li {
    border: 0 !important;
}

.btn {
    border-radius: 0 !important;
}

.thumbnails > li:not(:first-child) {

}

.thumbnails > li {
    width: 60px !important;
}

.thumbnail > img {
    height: 40px !important;
}

.fixed {
    position: fixed;
    right: 120px;
    top: 10px;
}

.description {
    width: 700px !important;
}